<h1>編集画面</h1>
<%= form_for @tweet , :url => {:action => :update} do |f| %>
<%= f.label :id %><br>
<%= @tweet.id%><br>
<%= f.hidden_field :name  , :value => @name%><br>
<%= f.label :title %><br>
<%= f.text_field :title  %><br>
<%= f.label :content %><br>
<%= f.text_field :content %><br>
<%= f.submit %><br>
<% end%>
