<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">




  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <nav>
  <ul>
  <li><a href="/">ホーム</a></li>
  <li><a href="/tweets/index">投稿一覧</a></li>
  <li><a href="/tweets/new">投稿</a></li>
  <% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
  <li><h2><%= current_user.name %> さん </h2></li> <!-- ここを追加します -->
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <li><h2> ゲストさん </h2></li>
<% end %>
  </ul>

  </nav>
    <body>
      <div class="main">
          <%= yield %>
      </div>

  </body>
</html>
